<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Pathanto/

    # Check if the request is not for an existing file or directory
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Internal rewrite for the specific URL format without showing .php extension
    RewriteRule ^Questions/answer/(\d+)/([\w-]+)/?$ Questions/answer.php?id=$1&title=$2 [L,QSA]
    
    # Internal rewrite for the specific URL format without showing .php extension
    RewriteRule ^summaries/chapter-details/(.*)$ /Pathanto/summaries/chapter-details.php?title=$1 [L,QSA]
    


    # Add the .php extension for other URLs
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^(.+?)/?$ $1.php [L]
</IfModule>
